a {
  color: #364b2a;
}
h1 {
  color: #364b2a;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
h2 {
  color:#364b2a;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.page-header {
  background-color: #a0c489;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}
.content {
    margin-left: 40px;
    margin-right: 40px
}
/*.well {
  background: rgba(44, 105, 4, 0.34);
}*/
